*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .Navbar{
  background-color: black;
    display: flex;
    height: 100px;
    gap: 35px;
    align-content: space-around;
  }

  .logo{
    width: 150px;
  }

  .searchlist{
    background-color: black;
    /* width: 400px; */
    margin-top: 10px;
   margin-left: 30px;
  }
  
  .searchlist input{
    width: 500px;
  }
  .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    gap: 20px;
}
  
  .nav-btn{
    list-style: none;
    text-decoration: none;
   font-size: 18px;
   background-color: black;
    padding: 5px;

  }
  .nav-btn a{
    color: wheat;
  }

  .nav-btn:hover{
    cursor: pointer;
    font-size: 25px;
    transition: all 0.6s ease-in-out;
    background: wheat;
    border: 2px dotted whitesmoke;
    border-radius: 10px;
    padding: 10px;
}

.nav-btn a:hover{
  color: black;
}

/*                    Header           */

.Container{
  width: 100%;
  max-height:80%;
  margin-top: 5px;
  border: 2px dotted black;
  border-radius: 5px;
}
 
.carousel-item{
  max-height: 450px;
}

/*                       Home            */

.heading{
  margin-top: 20px;
  text-align: center;
  color: crimson;
}

hr{
  width: 900px;
  height: 2px;
  margin-left: 100px;
  background-color:rgb(0, 0, 0);
}


.card{
  margin: 20px;
}

.card:hover{
  width: 22rem;
  box-shadow: 1px 1px ;
}

.card h2{
  font-size: 20px;
  margin-left: 40px;
}

.card-body{
  font-size: 20px;
  font-weight: 500;
}

.card-body a{
  margin-top: 15px;
  margin-left: 70px;
  font-size: 20px;
}


.btn:hover{
  border: 2px solid black;
  background-color: black;
  border: 2px dashed black;
}

.hr{
  width: 18rem;
  margin-left: 0;
}

.card-title{
  font-size: 30px;
  font-weight: 500;
}

.main{
  display: flex;
  margin: 8px;
  margin-top: 10px;
  background-color: Beige;
}

.video{
  width: 1100px;
  margin: 20px;
}




/*  ................  Cat ............ */

.cat{
  display: flex;
  height: 400px;
}

.img{
  display: flex;
  width: 250px;
  height: 300px;
  margin: 15px;
  
  /* border: 1px solid black; */
  border-radius: 50%;
}

.img:hover{
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  /* background: wheat; */
  border: 2px dotted whitesmoke;
 
}

.cat h4{
  margin-left: 50px;
  padding-bottom: 52px;
}

.signup{
  width: 1120px;
  background-color: wheat;
  color: black;
  text-align: center;
  height: 200px;
  margin: 10px;
  padding: 20px;
  border: 1px black dashed;
}

.signup input{
  width: 300px;
  margin-left: 35%;
}

.sign{
  display: flex;
}


/* ..........Footer ...................... */

footer{
  width: 100%;
  height: 40vh;
  margin-top: 40px;
  background: whitesmoke;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
}

footer h2{
  color: black;
  font-size: 40px;
  font-weight: 800;
}

.media{
  color: black;
  font-size: 40px;
  margin-top: 20px;
  transition: all 0.4s;
}

.media:hover{
  color: rgb(201, 12, 201);
  font-size: 50px;
}

.social{
  display: flex;
  gap: 30px;
}

.con{
  display: flex;
  margin-top: 10px;
  font-weight: 800;
  font-size: 40px;
}

.cart12{
  display: flex;
  gap: 20px;
}


.cart-icon{
 margin-left: 500px;
  font-size: 25px;
  size: 25px;
}





.product-detail-container{
  display: flex;
  width: 1000px;
  height: 420px;
  margin-left: 30px;
  margin-top: 30px;
  padding-left: 30px;
}

.product-detail-info{
  margin-top: 150px;
  font-size: 30px;
}

.product-detail-image{
  margin-right: 40px;
}

.product-detail-image:hover{
  cursor: pointer;
  transition: all 0.6s ease-in-out;
   background: wheat; 
  border: 2px dotted whitesmoke;
 
}